<div class="post-content">
    <% newses.forEach(function (news) { %>
    <div class="ui grid">
        <div class="four wide column">
            <a class="avatar"
               href="/news?author=<%= news.author._id %>"
               data-title="<%= news.author.userName %> | <%= ({1: '男', 2: '女', 3: '保密'})[news.author.gender] %>"
               data-content="<%= news.author.bio %>">
                <img class="avatar" src="/images/<%= news.author.avatar %>">
            </a>
        </div>

        <div class="eight wide column">
            <div class="ui segment">
                <h3><a href="/news/<%= news._id %>"><%= news.title %></a></h3>
                <pre><%- news.content %></pre>
                <div>
                    <span class="tag"><%= news.createTime %></span>
                    <span class="tag right">
                        <span>浏览(<%= news.pv %>)</span>
                        <span>留言(<%= news.commentsCount %>)</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>